<link rel="stylesheet" href="/css/loginRegisterStyle.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<section class="login-register">
    <section class="login-area">
        <h2>Login</h2>
        <a href="/auth/google" class="google-button">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Google_%22G%22_logo.svg/1024px-Google_%22G%22_logo.svg.png" alt="Google logo" class="google-logo">
            Login with Google
        </a>
    </section>
</section>
